@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    background-color: #4c5b61;
    background: url(assets/sunset.jpg);
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
    font-weight: 500;
}

::placeholder{
    color: #fff;
    opacity: 0.8;
}

.flex{
    display: flex;
}

.hidden{
    display: none;
}


.container{
    border-radius: 30px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 30px 5px;
}

/* Typed top bar */
.typed-top-bar{
    width:100%;
    color:#fff;
    opacity: 0.9;
    text-align: center;
    padding-block: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.01));
}

/* Search Area */
.search-area{
    justify-content: space-between;
    align-items: center;
}

.search-bar{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    padding-bottom: 10px;
    width: 60%;
    background-color: inherit;
    font-size: 1rem;
    color: #fff;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 30px 5px; */
    cursor:pointer;
}

.search-bar:focus{
    outline: none;
}

#search-icon {
    cursor: pointer;
}


/* weather info */
.weather-info{
    justify-content: space-between;
    align-items: center;
}

.description{
    flex-direction: column;
    align-items: flex-end;
}


/* weather details */
.weather-details{
    justify-content: space-between;
}

.details-card{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.humidity, .wind{
    align-items: center;
    gap: 10px;
}

.icon{
    width: 30%;
}

.icon1{
    width: 25%;
}


/* media - queries */
@media screen and (max-width: 950px) {
    .container{
        width: 70vw;
    }
}

@media screen and (max-width: 850px) {
    .container{
        padding: 20px 20px 20px 30px;
        gap: 20px;
        width: 70vw;
    }

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.2rem;
    }

    .search-bar{
        width: 80%;
    }
}

@media screen and (max-width: 689px) {
    p {
        font-size: 1rem;
    }

    #search-icon {
        width: 10%;
    }
    
    .weather-info{
        flex-direction: column;
        padding-bottom: 10px;
    }
    
    .description{
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #search-icon {
        width: 12%;
    }
}

@media screen and (max-width: 360px) {
    .container{
        width: 88vw;;
    }
}